@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
     Contact Details For Support<br />
    <abbr title="Phone">P:9373730950></abbr>
    
</address>

<address>
    <strong>Personal Id:</strong> <a href="mailto:sushantjadhav416@gmail.com">sushantjadhav416@gmail.com</a><br />
    <strong>Professional ID:</strong> <a href="mailto:Marketing@example.com">jadhavsushant.vikas@hcl.com</a>
</address>
